<?Mapper version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangzhi.yao.fzcms.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fangzhi.yao.fzcms.entity.User">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="name" property="name" />
        <result column="user_name" property="userName" />
        <result column="pass_word" property="passWord" />
        <result column="salt" property="salt" />
        <result column="state" property="state" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="user_admin" property="userAdmin" />
        <result column="user_company_code" property="userCompanyCode" />
        <result column="user_company_type" property="userCompanyType" />
        <result column="user_delete" property="userDelete" />
    </resultMap>

</mapper>
