# IDE
*.iml
*.ipr
*.iws
*.ids
.project
.classpath
.settings/
.idea/
bin/
out/

# log
logs/

# vi
*.swp

# ios
.DS_Store

#conf


# generater config
/.idea/
/target/
/out/
/provider/target/
/consumer/target/
/app/target/
/api/target/
